[Unit]
Description=%CONTAINER_NAME% Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=%CONTAINER_NAME%
AutoUpdate=local
Image=%OCI_IMAGE%
Volume=%MOUNT_DATA%:/opt/odoo-data
Volume=%MOUNT_LOGS%:/var/log/odoo
Volume=%CONFIG_PATH%/odoo.conf:/opt/odoo/odoo.conf
PublishPort=8069:8069
PublishPort=8071:8071
PublishPort=8072:8072

[Service]
Restart=always

[Install]
WantedBy=default.target
